<h1>Create an Account</h1>

<%= form_for @user, url: "/links" do |f| %>
  <%=  f.text_field :email, placeholder: "Email"%>
  <%= f.password_field :password, placeholder: "Password" %>
  <%= f.password_field :password_confirmation, placeholder: "Password Confirmation"  %>
  <%= f.submit "Create Account" %>
<% end %>
