<h1>Create an Account</h1>

<%= form_for @user do |f| %>
  <%= f.label :email, "Email:", class: "label-new" %>
  <%=  f.text_field :email %>
  <%= f.label :password, "Password:", class: "label-password" %>
  <%=  f.text_field :password %>
  <%= f.label :password_confirmation, "P Confirmation:", class: "label-pc-new" %>
  <%=  f.text_field :password_confirmation %>
  <%= f.submit "Create Account" %>
<% end %>
